In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("../Table 1.xlsx")

In [4]:
df1 = df.iloc[:,:5]
df2 = df.iloc[:,5:10]
df2.columns=df1.columns.values
df3 = df.iloc[:,10:15]
df3.columns=df1.columns.values
df4 = df.iloc[:,15:20]
df4.columns=df1.columns.values
df_concatenado = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)
df = df_concatenado.drop(df_concatenado.index[-1])
df = df.drop(df.columns[0], axis=1)
df['subject ID'] = df['subject ID'].astype(int)
df.columns=["subject ID","1","2","3"]
#Identificacion segmento alta calidad y creación de la columna con el nombre del archivo a escoger
df["segmento mayor calidad"] = df["subject ID"].astype(str)+"_"+df[['1', '2', '3']].idxmax(axis=1)

In [11]:
df_hypertension = pd.read_excel("./Data File/PPG-BP dataset.xlsx")

In [13]:
df["Hypertension"]=df_hypertension["Hypertension"]
df.head()

   subject ID     1     2     3 segmento mayor calidad          Hypertension
0           2  0.98  0.96  0.92                    2_1  Stage 2 hypertension
1           3  0.69  0.80  0.81                    3_3  Stage 2 hypertension
2           6  0.58  0.59  0.64                    6_3                Normal
3           8  0.96  0.85  0.87                    8_1       Prehypertension
4           9  0.65  0.67  0.87                    9_3       Prehypertension

In [6]:
# Lista para almacenar los datos de cada fichero
data_list = []

# Iterar sobre la columna con los nombres de los ficheros
for file_name in df['segmento mayor calidad']:
    # Leer el fichero de datos PPG (suponiendo que están en formato CSV, por ejemplo)
    data =  pd.read_csv(f"./Data File/0_subject/{file_name}.txt", delimiter="\t", header=None)
    
    # Añadir los datos a la lista
    data_list.append(data)

In [7]:
# Concatenar todos los ficheros en un solo DataFrame
dataset_ppg = pd.concat(data_list, axis=0)
# Opcionalmente, restablecer el índice si es necesario
dataset_ppg.reset_index(drop=True, inplace=True)
#Como hay valores con el doble de muestras, eliminamos el exceso de señal ya que la mayoría tiene 2100 columnas -> waveform data was set to a sampling rate of 1 kHz, with 12 bits AD conversion precision
#dataset_ppg[dataset_ppg.iloc[:,4196].notna()]
#df.iloc[179,:]
dataset_ppg = dataset_ppg.iloc[:, :2100]
dataset_ppg.head()

,0,1,2,3,4,5,6,7,8,9,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
0,2438.0,2438.0,2438.0,2455.0,2455.0,2384.0,2384.0,2384.0,2418.0,2418.0,...,1766.0,1766.0,1766.0,1833.0,1833.0,1827.0,1827.0,1827.0,1754.0,1754.0
1,1965.0,1965.0,1960.0,1960.0,1960.0,1959.0,1959.0,1948.0,1948.0,1948.0,...,2020.0,2020.0,2032.0,2032.0,2032.0,2011.0,2011.0,2005.0,2005.0,2005.0
2,1942.0,1912.0,1912.0,1912.0,1905.0,1905.0,1921.0,1921.0,1921.0,1933.0,...,2163.0,2159.0,2159.0,2159.0,2175.0,2175.0,2168.0,2168.0,2168.0,2175.0
3,2039.0,2039.0,2039.0,2029.0,2029.0,2042.0,2042.0,2042.0,2044.0,2044.0,...,1985.0,1985.0,1985.0,1984.0,1984.0,1995.0,1995.0,1995.0,1972.0,1972.0
4,1939.0,1939.0,1959.0,1959.0,1980.0,1980.0,1980.0,1945.0,1945.0,1953.0,...,1958.0,1958.0,1961.0,1961.0,1957.0,1957.0,1957.0,1971.0,1971.0,1966.0

In [14]:
dataset_ppg.to_pickle('dataset_ppg.pkl')
df.to_pickle('Segmentos_escogidos.pkl')